@model VehiculoModel
@{
    ViewData["Title"] = "Reservar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Reservar
    </div>
    <div class="card-body">

        <form asp-action="Reservar" asp-controller="MantenedorVehiculo" method="post">

            <input asp-for="IdVehiculo" type="hidden" class="form-control">

            <div class="alert alert-success" role="alert">
                ¿Desea reservar el Vehiculo : @Html.DisplayTextFor(m => m.Marca) ?
            </div>

            <button type="submit" class="btn btn-success">Reservar</button>
            <a asp-action="Listar" asp-controller="MantenedorReserva" class="btn btn-warning">Volver al listado</a>
        </form>
    </div>
</div>
