@model UsuarioModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- NEW -->

    <div class="col d-flex justify-content-center m-2">
        <div class="card">
            <div class="row card-oppacity-orange">
                <div class="card-header">
                <div class="row d-flex flex-wrap">
                        <div class="col-1">
                            <a asp-action="Listar" asp-controller="Mantenedor"><img src="~/goback-icon.png" alt="Volver" height="30px" width="20px"></a>
                        </div>
                        <div class="col-9">
                            <h4 class="subtitle">Editar Usuario</h4> 
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <form asp-action="Editar" asp-controller="Mantenedor" method="post">

                        <input asp-for="IdUsuario" type="hidden" class="form-control" />
                        <div class="">
                            <label class="form-label m-2">Nombre</label>
                            <input asp-for="Nombre" type="text" class="form-control" required />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="">
                            <label class="form-label m-2">Apellido</label>
                            <input asp-for="Apellido" type="text" class="form-control" required />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                        <div class="">
                            <label class="form-label m-2">Email</label>
                            <input asp-for="Email" type="text" placeholder="Por ejemplo, example@dominio.com"
                                class="form-control" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="">
                            <label class="form-label m-2"> Contraseña</label>
                            <input asp-for="Contraseña" type="password" class="form-control" required />
                            <span asp-validation-for="Contraseña" class="text-danger"></span>
                        </div>
                        <div class="">
                            <label class="form-label m-2">Rol</label><br>
                            <input asp-for="Rol" type="radio" id="Administrador" name="Rol" value="Administrador">
                            <label for="Rol"> Administrador</label><br>
                            <input asp-for="Rol" type="radio" id="Cliente" name="Rol" value="Cliente">
                            <label for="Rol"> Cliente</label><br>
                            <span asp-validation-for="Rol" class="text-danger"></span>
                        </div>
                        <div class="">
                            <label class="form-label m-2">FechaNacimiento</label>
                            <input asp-for="FechaNacimiento" type="text" class="form-control" required />
                            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                        </div>
                        <!--  <div class="mb-3">
                    <label class="form-label">TipoDocumento</label>
                    <input asp-for="TipoDocumento" type="text"  class="form-control" />
                    <span asp-validation-for="TipoDocumento" class="text-danger"></span>
                </div> -->
                        <div class="">
                            <label class="form-label m-2">Dni</label>
                            <input asp-for="Dni" type="number" class="form-control" required />
                            <span asp-validation-for="Dni" class="text-danger"></span>
                        </div>
                        <div class="">
                            <label class="form-label m-2">Telefono</label>
                            <input asp-for="Telefono" type="number" class="form-control" required />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                        <div class="d-flex flex-row-reverse mt-3">
                            <div class="d-flex flex-row-reverse mt-3">
                                <button type="submit" class="btn">
                                    <img height="50px" width="50px" src="~/confirm-icon.png" alt="" title="Confirmar">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- OLD -->
<!-- <div class="card">
    <div class="card-header">
        Editar Usuario
    </div>
    <div class="card-body">

        <form asp-action="Editar" asp-controller="Mantenedor" method="post">

            <input asp-for="IdUsuario" type="hidden" class="form-control" />
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="Nombre" type="text" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Apellido</label>
                <input asp-for="Apellido" type="text" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" type="text" placeholder="Por ejemplo, juan@dominio.com" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <div id="emailHelp" class="form-text"> Tu mail será para contactarte en caso de ser necesario.</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input asp-for="Contraseña" type="text" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Rol de Usuario</label>
                <input asp-for="Rol" type="text" placeholder="Ingrese el rol para el usuario, Normal/Administrador" class="form-control" />
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label class="form-label">FechaNacimiento</label>
                <input asp-for="FechaNacimiento" type="text"  class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">TipoDocumento</label>
                <input asp-for="TipoDocumento" type="text"  class="form-control" />
                <span asp-validation-for="TipoDocumento" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Dni</label>
                <input asp-for="Dni" type="text" placeholder="Ingrese el rol para el usuario, Normal/Administrador" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Telefono</label>
                <input asp-for="Telefono" type="text" placeholder="Ingrese el rol para el usuario, Normal/Administrador" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning">Volver al listado</a>
        </form>
    </div>
</div> -->

