@model UsuarioModel //Clase a utilizar en el formulario

@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col d-flex justify-content-center m-2">
    <div class="card">
    <div class="row card-oppacity-orange">
        <div class="card-header">
            CrearUsuario
        </div>
        <div class="card-body">

            <form asp-action="Guardar" asp-controller="Mantenedor" method="post">

                <div class="">
                    <label class="form-label mt-2">Nombre</label>
                    <input asp-for="Nombre" type="text" class="form-control" required />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="">
                    <label class="form-label mt-2">Apellido</label>
                    <input asp-for="Apellido" type="text" class="form-control" required />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="">
                    <label class="form-label mt-2">Email</label>
                    <input asp-for="Email" type="text" placeholder="Por ejemplo, example@dominio.com"
                           class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="">
                    <label class="form-label mt-2"> Contraseña</label>
                    <input asp-for="Contraseña" type="password" class="form-control" required />
                    <span asp-validation-for="Contraseña" class="text-danger"></span>
                </div>


                <div class="">
                    <label class="form-label mt-2">Rol</label><br>
                    <input asp-for="Rol" type="radio" id="Administrador" name="Rol" value="Administrador">
                    <label for="Rol"> Administrador</label><br>
                    <input asp-for="Rol" type="radio" id="Cliente" name="Rol" value="Cliente">
                    <label for="Rol"> Cliente</label><br>
                    <span asp-validation-for="Rol" class="text-danger"></span>
                </div>

                <div class="">
                    <label class="form-label mt-2">FechaNacimiento</label>
                    <input asp-for="FechaNacimiento" type="text" class="form-control" required />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <!--  <div class="mb-3">
                    <label class="form-label">TipoDocumento</label>
                    <input asp-for="TipoDocumento" type="text"  class="form-control" />
                    <span asp-validation-for="TipoDocumento" class="text-danger"></span>
                </div> -->
                <div class="">
                    <label class="form-label mt-2">Dni</label>
                    <input asp-for="Dni" type="number" class="form-control" required />
                    <span asp-validation-for="Dni" class="text-danger"></span>
                </div>
                <div class="">
                    <label class="form-label mt-2">Telefono</label>
                    <input asp-for="Telefono" type="number" class="form-control" required />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="d-flex flex-row-reverse mt-3">
                    <button type="submit" class="btn btn-primary ms-2">Crear Usuario</button>
                    <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning">Volver al listado</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

        

