@{
    ViewData["Title"] = "Ds Travel Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Context.Session.Get
}


<div class="text-center">
    <h1 class="display-4">Bienvenidos al modulo de administrador de DS Travel</h1>
</div>
