@model BuscarModel //Clase a utilizar en el formulario

@{
    ViewData["Title"] = "Buscar";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<div class="card">
    <div class="card-header">
        Buscar vehiculos disponibles
    </div>
    <div class="card-body row">

        <form asp-action="Buscar" asp-controller="MantenedorBuscar" class="form" method="post">

            <div class="col-6 col-md-3">
                <label class="form-label">Destino</label>
                <input asp-for="Destino" type="text" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="col-6 col-md-3">
                <label class="form-label">FechaInicio</label>
                <input asp-for="FechaInicio" type="text" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="col-6 col-md-3">
                <label class="form-label">FechaFin</label>
                <input asp-for="FechaFin" type="text" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>

            <br>
            <button type="submit" class="btn btn primary ">Buscar</button>
        </form>
    </div>
</div>