@{
    ViewData["Title"] = "Ds Travel Home Page";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
    //Context.Session.Get
}

<main class="fondo">
    <div class="text-center ">
        <h1 class="titulo display-5">Bienvenidos/as a DS Travel</h1>

    </div>

</main>