@{
    ViewData["Title"] = "Vehiculos";
}

<div class="text-center">
    <h1 class="display-4">Reserve su vehiculo en esta sección</h1>
    <p>Por favor seleccione el vehiculo que va a alquilar durante su estadía</p>
    
    <a asp-area="" asp-controller="MantenedorVehiculo" asp-action="Listar">Listar Vehiculo</a>
</div>
