@model ReservaModel //Clase a utilizar en el formulario

@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

    <div class="card m-3">
        <div class="row card-oppacity-orange">
            <div class="card-header">
            <div class="col-1">
                            <a asp-action="Listar" asp-controller="MantenedorReserva"><img src="~/goback-icon.png" alt="Volver" height="30px" width="20px"></a>
                        </div>
                        <div class="col-9">
                            <h4 class="subtitle">Crear Reserva</h4> 
                        </div>
                    </div>
            </div>
            <div class="card-body">

                <form asp-action="Guardar" asp-controller="MantenedorReserva" method="post">
                    <div class="mb-3">
                        <label class="form-label">Destino</label>
                        <input asp-for="Destino" type="text" class="form-control" />
                        <span asp-validation-for="Destino" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">FechaInicio</label>
                        <input asp-for="FechaInicio" type="text" class="form-control" />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">FechaFin</label>
                        <input asp-for="FechaFin" type="text" class="form-control" />
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Estado</label>
                        <input asp-for="Estado" type="text" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">MontoTotal</label>
                        <input asp-for="MontoTotal" type="text" inputmode="numeric" step="0.01" class="form-control" />
                        <span asp-validation-for="MontoTotal" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">IdVehiculo</label>
                        <input asp-for="IdVehiculo" type="text" class="form-control" />
                        <span asp-validation-for="IdVehiculo" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">IdUsuario</label>
                        <input asp-for="IdUsuario" type="text" class="form-control" />
                        <span asp-validation-for="IdUsuario" class="text-danger"></span>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn">
                            <img height="50px" width="50px" src="~/confirm-icon.png" alt="" title="Confirmar">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

