@model PagoModel //Clase a utilizar en el formulario

@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<!-- NEW -->

    <div class="card m-4">
        <div class="row card-oppacity-orange">
            <div class="card-header">
                <div class="row d-flex flex-wrap">
                    <div class="col-1">
                        <a asp-action="Listar" asp-controller="MantenedorPago"><img src="~/goback-icon.png" alt="Volver" height="30px" width="20px"></a>
                    </div>
                    <div class="col-9">
                        <h4 class="subtitle">¿Cómo querés pagar?</h4> 
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Guardar" asp-controller="MantenedorPago" method="post">
                    <div class="mb-3">
                        <label class="form-label">MontoFinal</label>
                        <input asp-for="MontoFinal" type="text" step="any" class="form-control"
                            value="@(ViewBag.montoTotal)" readonly />
                        <span asp-validation-for="MontoFinal" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Estado</label>
                        <input asp-for="Estado" type="text" class="form-control" value="@(ViewBag.estado)" readonly />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>

                <div class="input-group mb-3 col-4">
                    <label class="input-group-text" for="inputGroupSelect01">Servicio de Pago</label>
                    <select asp-for="ServicioPago" class="form-select col-4" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="PRISMA">PRISMA</option>
                        <option value="MERCADO_PAGO">MERCADO PAGO</option>
                        <option value="RAPIPAGO">RAPIPAGO</option>
                        <option value="PAGOFACIL">PAGOFACIL</option>
                    </select>
                    <span asp-validation-for="ServicioPago" class="text-danger"></span>
                </div>

                <div class="input-group mb-3 col-4">
                    <label class="input-group-text" for="inputGroupSelect01">Medio de Pago</label>
                    <select asp-for="MedioPago" class="form-select col-4" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="CREDITO">CREDITO</option>
                        <option value="DEBITO">DEBITO</option>
                        <option value="EFECTIVO">EFECTIVO</option>
                    </select>
                    <span asp-validation-for="MedioPago" class="text-danger"></span>
                </div>

                    <div class="mb-3">
                        <label class="form-label">Ultimos Cuatro dígitos de la tarjeta</label>
                        <input asp-for="UltimosCuatro" type="text" class="form-control" maxlength="4" />
                        <span asp-validation-for="UltimosCuatro" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cuotas</label>
                    <input asp-for="Cuotas" type="text" class="form-control" maxlength="2" />
                        <span asp-validation-for="Cuotas" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">CodigoBarras</label>
                    <input asp-for="CodigoBarras" type="text" class="form-control" required />
                        <span asp-validation-for="CodigoBarras" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cbu</label>
                        <input asp-for="Cvu" type="text" class="form-control" required/>
                        <span asp-validation-for="Cvu" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Número de reserva</label>
                        <input asp-for="IdReserva" type="text" class="form-control" value="@(ViewBag.idReserva)"
                            readonly />
                        <span asp-validation-for="IdReserva" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="d-flex flex-row-reverse mt-3">
                            <button type="submit" class="btn">
                            <img height="50px" width="50px" src="~/confirm-icon.png" alt="" title="Confirmar">
                        </button>
                            
                        </div>
                </form>
            </div>
        </div>
    </div>

