@model EmpresaProveedoraModel //Clase a utilizar en el formulario

@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="row card-oppacity-orange">
    
    <div class="card-header">
        <div class="row d-flex flex-wrap">
            <div class="col-1">
                <a asp-action="Listar" asp-controller="MantenedorEmpresaProveedora"><img src="~/goback-icon.png" alt="Volver" height="30px" width="20px"></a>
            </div>
            <div class="col-9">
                <h4 class="subtitle">Crear Empresa Proveedora</h4> 
            </div>
        </div>
    </div>

    <div class="card-body">
        
        <form asp-action="Guardar" asp-controller="MantenedorEmpresaProveedora" method="post">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="Nombre" type="text" class="form-control" maxlength="20" required/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Logo</label>
                <input asp-for="Logo" type="text" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Calificacion Promedio</label>
                <input asp-for="CalificacionPromedio" type="number" class="form-control" />
                <span asp-validation-for="CalificacionPromedio" class="text-danger"></span>
            </div>
            <br>
            <div class="d-flex flex-row-reverse mt-3">
                <button type="submit" class="btn">
                    <img height="50px" width="50px" src="~/confirm-icon.png" alt="" title="Confirmar">
                </button>
            </div>
        </form>
    </div>
    </div>
</div>
        

