@{
    ViewData["Title"] = "Empresa Proveedora";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    
    <a asp-area="" asp-controller="MantenedorEmpresaProveedora" asp-action="Listar">Listar</a>
</div>

